/*******************************************************************************
 * Copyright 2014 Isos Technology, Inc.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ******************************************************************************/
.okta-img-mini {
  width: 71px;
  height: 30px;
}
  
.okta-img-mini img {
  max-width: 57px;
  max-height: 22px;
  display: block;
  margin: 5px auto 0;
}

#okta-user-apps-ul {
	margin-left: 0;
	list-style-type: none;
	display:inline;
}

#okta-user-apps-ul li{
	display:inline;
}
